{% extends 'panel/base.html' %}
{% load widget_tweaks %}
{% load taggit_templatetags2_tags %}
{% load staticfiles %}
{% block title %} עריכת אירוע {% endblock %}

{% block content %}

    <!--כותרת-->
    <div>
        <h5 class="align-middle side-margin">עריכת אירוע <strong>{{ event.headline }}</strong> לחניך/ה <strong>{{ pupil }} :</strong></h5>
    </div><br>

    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data" id="event_form" autocomplete="off">
    {% csrf_token %}
    <div class="form-group" style="padding-right: 15px">
        {% for field in event_form %}
            {% if field.errors %}
                <div class="row form-group has-error">
                    <label class="col-md-2 control-label" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}&nbsp;<span class="text-danger">*</span>{% endif %}</label>
                    <div class="col-sm-{% if field.name == 'details' %}9{% else %}auto{% endif %}">
                        {{ field|add_class:"form-control" }}
                        <span class="help-block">
                            {% for error in  field.errors %}<span class="text-danger">{{ error }}</span>{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="row form-group">
                    <label class="col-sm-2 control-label" for="id_{{ field.name }}">{{ field.label }}{% if field.field.required %}&nbsp;<span class="text-danger">*</span>{% endif %}</label>
                    <div class="col-sm-{% if field.name == 'details' %}9{% else %}auto{% endif %}">
                        {{ field|add_class:"form-control" }}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <!--עדכונים-->
    <div class="row form-group justify-content-between">
        <label class="col-sm-2 control-label">עדכונים נוספים</label>
        <div class="col-sm-auto">
            <a href="{% url 'panel:parameter-add-from-event-edit' pupil.pk event.pk %}" class="btn btn-outline-secondary btn-sm" role="button">פרמטר חדש</a>
        </div>
    </div>
    {{ cut_forms.management_form }}
    <ul class="list-group p-0">
        {% for cut_form in cut_forms %}
        <li class="list-group-item">
            <div class="form-group row mb-0">
                <div class="d-flex flex-column pl-3">
                    <div class="d-flex align-self-center">
                        {{ forloop.counter }} |
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row pb-2 align-items-center">
                        <label class="control-label pl-1" for="id_{{ cut_form.parameter.name }}">{{ cut_form.parameter.label }}&nbsp;<span class="text-danger">*</span></label>
                        {{ cut_form.parameter|add_class:"form-control" }}
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <label class="control-label pl-1" for="id_{{ cut_form.tags.name }}">{{ cut_form.tags.label }}</label>
                        {{ cut_form.tags|attr:"data-role:tagsinput" }}
                    </div>
                </div>
                <div class="d-flex flex-column pr-2">
                    <div class="d-flex flex-row pb-2 align-items-center">
                        <label class="control-label pl-1" for="id_{{ cut_form.status.name }}">{{ cut_form.status.label }}</label>
                        {{ cut_form.status|add_class:"form-control" }}
                    </div>
                    <div class="d-flex flex-row justify-content-center align-items-center">
                        <label class="control-label pl-1" for="id_{{ cut_form.private.name }}"><span class="oi oi-lock-locked"></span></label>
                        {{ cut_form.private|add_class:"form-check" }}
                    </div>
                </div>
                <div class="d-flex flex-column pr-3">
                    <div class="d-flex flex-row">
                        <label class="control-label pl-2" for="id_{{ cut_form.details.name }}">{{ cut_form.details.label }}&nbsp;<span class="text-danger">*</span></label>
                        {{ cut_form.details|add_class:"form-control" }}
                    </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="form-group pt-3">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-primary btn-sm">סיום</button>
        </div>
    </div>
    </form>

    <script type="text/javascript" src="{% static 'panel/jquery/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#id_event-date").daterangepicker({
            singleDatePicker: true,
            "opens": "center",
            "autoApply": true,
            locale: {
                format: 'YYYY-MM-DD'
            }
        });
    });
    </script>
{% endblock %}