{% extends 'panel/base.html' %}

{% block content %}
    <h2>ברוך/ה הבא/ה לחבצלוג</h2>
    <hr>
    <h5>למערכת נוספו מספר שדרוגים:</h5>
    <ul>
        <li><strong>אירוע: </strong> מעכשיו ניתן להוסיף פריט מידע מורכב שמכיל הן פירוט כללי והן אפשרות להוסיף עד 15 עדכונים שמוכלים בו</li>
        <li><strong>עדכון פרטי: </strong>בעת הוספת עדכון, ניתן לבחור שאף אלד מלבדך לא יוכל לצפות בו</li>
    </ul>
    <hr>
    <h5>שימו לב לגבות את כל העידכונים שלכם אחת לשבוע!</h5>
    <p class="text-muted">ע"י חיפוש על ריק וייצוא התוצאות לאקסל</p>
    <hr>
    <h5>מוזמנים לפנות אליי עם הצעות לשיפור וייעול. דברים שבינתיים אעבוד עליהם לגרסה הבאה:</h5>
    <ul>
        <li>חיפוש לפי מזין</li>
        <li>הצגת אירועים בתוצאות החיפוש</li>
        <li>הצגה מלאה של עדכון בלחיצה עליו בטבלת תוצאות החיפוש</li>
    </ul>
{% endblock %}