{% extends 'panel/base.html' %}

{% block content %}
    <h2>ברוך/ה הבא/ה לחבצלוג</h2>
    <hr>
    <h5>למערכת נוספו מספר שדרוגים:</h5>
    <ul>
        <li><strong>התראות: </strong>מעכשיו תקבל/י התראה בכל פעם שמישהו יגע לך בחניכים. ההתראות מופיעות תחת ה-<span class="oi oi-globe"></span> </li>
        <li><strong>תגובות: </strong>לטובת שיפור יחסי העבודה של רש"צ-קמ"ט הוספתי אפשרות להגיב על עדכונים ואירועים</li>
        <li><strong>יעדים: </strong>ניתן כעת לבחור מהם היעדים של כל חניך. לפרמטר שהוגדר כיעד תתווסף תווית <span class="badge badge-info">יעד</span> בפאנל</li>
        <li><strong>ייצוא: </strong>תחת 'אפשרויות' ניתן להגיע לדף הייצוא, ממנו אפשר להוריד קבצי אקסל של האירועים והעדכונים שלכם/ן</li>
        <li>מעכשיו ניתן להוסיף <b>בולד</b>, <u>קו תחתון</u> <i> ונטוי</i> לפירוט על אירוע</li>
        <li>לצד שם הפרמטר בפאנל כתוב מספר העדכונים שנמצאים תחתיו</li>
        <li>לצד שם האירוע ברשימת האירועים כתוב מספר העדכונים שנמצאים תחתיו</li>
        <li><strong>עריכה: </strong>לחצו על העיפרון כדי לערוך עדכונים ואירועים</li>
        <li><strong>בחירת תאריך לאירוע: </strong>ניתן לבחור בעצמך מתי קרה האירוע</li>
        <li><strong>אירוע: </strong> ניתן להוסיף פריט מידע מורכב שמכיל הן פירוט כללי והן אפשרות להוסיף עד 15 עדכונים שמוכלים בו</li>
        <li><strong>עדכון פרטי: </strong>בעת הוספת עדכון, ניתן לבחור שאף אחד מלבדך לא יוכל לצפות בו</li>
    </ul>
    <hr>
    <h5>שימו לב לגבות את כל העידכונים שלכם אחת לשבוע!</h5>
    <p class="text-muted">ע"י שימוש בדף הייצוא</p>
    <hr>
    <h5>מוזמנים לפנות אליי עם הצעות לשיפור וייעול</h5>
{% endblock %}