{% extends 'panel/base.html' %}
{% load widget_tweaks %}
{% block title %} {{ pupil }} {% endblock %}

{% block content %}
    <!--כותרת-->
    <div class="d-flex justify-content-between">
        <div class="col p-0 d-flex d-inline-flex align-items-center flex-wrap">
            <a class="btn btn-outline-secondary btn-sm ml-2" href="/panel/{{ pupil.pk }}{% if request.GET.view == 'recent' %}/?recent=on{% endif %}" role="button">חזרה</a>
            <h5 class="ml-2">{{ pupil }}</h5>
            <h5><strong>{{ parameter }}</strong></h5>
        </div>
        <div class="col-auto p-0 text-left">
            <a class="btn btn-outline-info btn-sm" href="/panel/{{ pupil.pk }}/{{ parameter.pk }}/add" role="button">הוספת עידכון</a>
        </div>
    </div><br/>

    <!--רשימת עידכונים-->
    <div class="list-group">
        {% for cut in all_cuts reversed %}
            <div class="list-group-item d-flex justify-content-between">
                <div class="col p-0">
                    {% if cut.private and request.user != cut.updated_by %}
                    <h4 class="m-0"><span class="badge badge-secondary"><span class="oi oi-lock-locked"></span></span></h4>
                    {% else %}
                    <div class="mb-1">
                        {% if cut.status %}
                        <h4 style="display: inline-block">
                            <span class="badge badge-{{ cut.status }}">
                                <span class="oi oi-{% if cut.status == 'primary' %}star{% elif cut.status == 'success' %}thumb-up{% elif cut.status == 'danger'%}thumb-down{% else %}warning{% endif %}"></span>
                            </span>
                        </h4>
                        {% endif %}
                        <h5  style="display: inline-block"><strong>{{ cut.headline }}</strong></h5>
                    </div>
                    <p class="mb-1">{{ cut.details }}</p>
                    <div>
                    {% for tag in cut.tags.names %}
                        <a href="{% url 'search:search' %}?select1=tags__name__in&field1={{ tag }}" class="badge badge-info">{{ tag }}</a>
                    {% endfor %}
                    </div>
                    {% if cut.event %}
                        <a href="{% url 'panel:event' pupil.pk cut.event.pk %}" class="badge badge-success">אירוע: <strong>{{ cut.event.headline }}</strong></a>
                    {% endif %}
                    {% endif %}
                </div>
                <div class="col-auto p-0 d-flex align-items-end flex-column">
                    <div class="d-flex flex-row">
                        <small class="text-primary">{% if cut.comments.all %}{{ cut.comments.all.count }}&nbsp{% endif %}</small>
                        <button type="button" class="btn btn-outline-primary btn-circle" data-toggle="collapse" data-target="#add_comment_for_{{ cut.pk }}">
                                <small><span class="oi oi-comment-square"></span></small>
                        </button>
                        {% if request.user == cut.updated_by %}
                        <a class="btn btn-outline-success btn-circle mr-1" href="{% url 'panel:cut-edit' pupil.pk parameter.pk cut.pk %}">
                            <small><span class="oi oi-pencil"></span></small>
                        </a>
                        <button type="button" class="btn btn-outline-danger btn-circle mr-1" data-toggle="modal" data-target="#delete_{{ cut.pk }}">
                            <small><span class="oi oi-x"></span></small>
                        </button>
                        {% endif %}
                    </div>
                    <div style="text-align: left" class="mt-auto">
                        <small class="text-muted">נוסף ע"י {{ cut.updated_by.first_name }} {{ cut.updated_by.last_name }}</small>
                        <small class="text-muted" style="display: block">{{ cut.updated_time }}</small>
                    </div>
                </div>
                <!--חלון יאשור מחיקה-->
                <div class="modal fade" id="delete_{{ cut.pk }}" tabindex="-1" role="dialog" aria-labelledby="delete_{{ cut.pk }}_modal" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">בטוח שברצונך למחוק?</h5>
                        </div>
                        <div class="modal-footer d-flex w-100 justify-content-between">
                            <button type="button" class="col btn btn-success" data-dismiss="modal" style="cursor: pointer">לא</button>
                            <a href="{% url 'panel:cut-delete' pupil.pk parameter.pk cut.pk %}" role="button" class="col btn btn-danger mr-2">כן</a>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <!--חלונית להוספת תגובה-->
            <div class="collapse" id="add_comment_for_{{ cut.pk }}">
              <div class="card card-body comment-card mb-2">
                  <form action="" method="post" class="form-inline">
                      {% csrf_token %}
                      <div class="col p-0">
                          {{ comment_form.content|add_class:"form-control"}}
                      </div>
                      <div class="col-auto p-0">
                          <button class="btn btn-outline-info mr-2" type="submit" name="cut_id" value="{{ cut.pk }}">פרסום</button>
                      </div>
                  </form>
                {% if cut.comments.all %}
                  <ul class="list-group pr-0 mt-2">
                      {% for comment in cut.comments.all %}
                      <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                {{ comment.content }}
                            </div>
                            <div class="col-auto">
                                <small class="text-muted">ע"י {{ comment.user.first_name }} {{ comment.user.last_name }} ב-{{ comment.timestamp }}</small>
                            </div>
                        </div>
                      </li>
                      {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



