{% extends 'panel/base.html' %}
{% load staticfiles %}
{% block title %} הוספת חניך/ה {% endblock %}

{% block content %}

    <!--כותרת-->
    <div>
        <h5 class="align-middle side-margin"><strong>הוספת חניך/ה</strong></h5>
    </div><br>
    <form class="form-horizontal"action="" method="post" enctype="multipart/form-data" autocomplete="off">
    {% include 'panel/form-template.html' %}
    <div class="form-group">
        <div class="col-sm-2">
            <button type="submit" class="btn btn-outline-primary btn-sm">הוסף</button>
        </div>
    </div>
    </form>

{% endblock %}